/*Global Rules*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  background-image: linear-gradient(390deg, rgb(190, 90, 247), rgb(22, 91, 145));
  height: 100vh;
}
