/*Global Rules*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  background-image: linear-gradient(390deg, rgb(109, 192, 190), rgb(11, 73, 25));
  height: 100vh;
}
